body {
    background-color: green;
    text-align: center;
    padding-top: 5%;
}

#space{
    padding-top: 300px;
}

h1{
    font-family: lospix;
    font-size:  100px;

}

i {
    font-family: OG;
    font-size: 20px;
}

button {
    font-family: white-fill;
    background-color: lightgreen;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}