body {
    background-color: green;
}


@font-face {
    font-family: OG;
    /* src: url("../Fonts/back-to-1982/BACKTO1982.TTF");  */
    /* src: url("../Fonts/basis33/basis33.ttf"); */
    /* src: url("../Fonts/kongtext/kongtext.ttf"); */
    src: url("../Fonts/lospix-font/LospixMedium-7eDB.ttf");
    /* src: url("../Fonts/manaspace/manaspc.ttf"); */
    /* src: url("../Fonts/megapixel/MEGAPIX.TTF"); */
    /* src: url("../Fonts/pokemon-gb-font/PokemonGb-RAeo.ttf"); */
    /* src: url("../Fonts/pokemon-gb-font/PokemonGbJapanHrregular-Bq93.ttf"); */
    /* src: url("../Fonts/pokemon-gb-font/PokemonGbJapanKt-8Rw2.ttf"); */
    /* src: url("../Fonts/pokemon-gb-font/PokemonUnownGb-YAWa.ttf"); */
    /* src: url("../Fonts/press-start/prstart.ttf"); */
    /* src: url("../Fonts/press-start/prstartk.ttf"); */
    /* src: url("../Fonts/square-pixel7/square_pixel-7.ttf");  */
}